node_modules/
audio/
effects/Model
effects/Texture
effects/*.efkefc
fonts/
icon/
dist/
mksite/
coverage/

js/libs/effekseer.min.js
js/libs/effekseer.wasm
js/libs/localforage.min.js
js/libs/pako.min.js
js/libs/pixi.js
